<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    h1 {
        color: yellow;
    }
</style>
</head>
<body>
    <h1>Restaurant Database</h1><br>
    <a href="/food" class = "button">Food</a> </button><br><br>   
    <a href="/employee" class = "button">Employee</a> </button><br><br>    
    <a href="/supplier" class = "button">Supplier</a> </button><br><br> 
    <a href="/booking" class = "button">Booking</a> </button><br><br>    

</body>

</html>